.widget-lineedit {
	margin-bottom: 20px;
	width: 100%;
	color: #606772 !important;
    line-height: 21px !important;
    padding: .375rem .75rem !important;
    border: solid 1px #444444;
}

.liboauthserver-form-title {
	font-size: 120%;
    font-weight: bold;
    display: inline-block;
	margin-bottom: 20px;
}

.widget-submitbutton {
	font-weight: 400;
	text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    background-color: #444444;
    color: white;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5 !important;
    letter-spacing: normal;
    text-align: center;
    padding: 10px !important;
    min-width: 130px;
}

/*******BUTTON***********/
.btn-default {
	border-radius: 10px !important;
	background-color: #00e2ff;
	border: solid 1px #d0d0d0;
	color: white;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.5 !important;
	letter-spacing: normal;
	text-align: center;
	padding: 10px !important;
	min-width: 130px;
}
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */

/**
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */

html {
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */

body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */

[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */

a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */

pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

code,
kbd,
pre,
samp {
  font-size: 1em;
}

/* Forms
   ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */

input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  box-sizing: content-box; /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/*  ======================
    Kronos Logo
    ======================  */
.logo {
	width: 255px;
	height: 27px;
	position: relative;
	text-indent: -100000px;
    text-decoration: none;
	background-size:250px 138px;
	margin: 0 auto;
}

.logo-stack { /* light, stacked */
	width: 149px;
}


/*  ======================
    Layout
    ======================  */
html,
body {
    height: 100%;
}
body {
    font: 400 15px/1.5 -apple-system, '-apple-system', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #222; /* Grayscale dark */
}


/*  ======================
    General
    ======================  */
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
p,
li,
a {
	font-weight: normal;
}
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6,
p,
li {
	margin: 0;
	padding: 0;
}
h1,
.h1 {
    font-size: 44px;
	margin-bottom: 30px;
}
h2,
.h2 {
    font-size: 28px;
	margin-bottom: 20px;
}
h3,
.h3 {
    font-size: 24px;
	margin-bottom: 20px;
}
h4,
.h4 {
    font-size: 18px;
	margin-bottom: 20px;
}
h5,
.h5,
h6,
.h6 {
    font-weight: 400;
}
h5,
.h5 {
    font-size: 18px;
	margin-bottom: 10px;
}
h6,
.h6 {
    font-size: 16px;
	margin-bottom: 10px;
}
p,
li {
	font-weight: 400;
}
li {
	margin-bottom: 5.5px;
}
a {
    color: #11a9ed;
	font-weight: 400;
	text-decoration: none;
}
a,
a:focus {
    outline:none;
}
a:hover,
.colored {  /* use for blue link color */
    color: #11a9ed;
	text-decoration: underline;
}
hr {
    margin: 11px 0 10px;
    border: 0;
    border-top: 1px solid #ddd;
}
p {
    margin: 10px 0;
}
footer {
    color: #aaa;
    text-align: center;
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
}
footer a {
    color: #aaa;
}


/*  ======================
    Alerts
    ======================  */
.alert {
    padding: 10px 15px 12px;
    margin: 0 0 10px;
    background-color: #ed7e00;
    color: #fff;
}
.alert a {
	text-decoration: underline;
}
.alert a,
.alert .close,
.alert a:hover {
	color: #fff;
}
.alert a:focus {
	outline: 1px dotted rgba(255,255,255.0.25);
}
.alert-error {
    background-color: #bf0f24;
}
.alert-success {
    background-color: #50b012;
}
.alert-info {
    background-color: #11a9ed;
}


/*  ======================
    Buttons
    ======================  */
button {
    background: none;
    cursor: pointer;
    border: none;
    padding: 0;
    margin: 0;
}

.btn {
    display: inline-block;
    padding: 5.5px 19px;
    line-height: 22px;
    border: none;
    font-weight: 300;
    letter-spacing: 0.03em;
    text-shadow: 0 1px 0 #0c7cad;
    color: #fafafa;
    border-radius: 10px;
    background: #11a9ed;
    vertical-align: top;
}

.btn:hover {
	text-decoration: none;
	color: #fff;
}

.btn:active {
    position: relative;
    top: 1px;
}

.btn[disabled] {
	cursor: not-allowed;
	opacity: 0.5;
}

.btn[disabled]:active {
    top: 0;
}

.btn.btn-primary {
    box-shadow: inset 0 0 0 1px #0D87BD, 0 3px 0 0 #0c7cad;
}

.btn.btn-secondary, .btn.btn-large.btn-secondary:active {
    box-shadow: inset 0 0 0 1px #ccc, 0 3px 0 0 #bbb;
}

.btn.btn-secondary {
    background: #fff;
    color: #212121;
    font-weight: normal;
    text-shadow: none;
}

.btn + .btn {
    margin-top: 10px;
}

.btn-block {
    display: block;
    text-align: center;
}



.btn-switch-container {
    display: inline-block
}

.form-horizontal .controls-row .btn-switch-container {
    padding-top: 6px;
    margin-bottom: -4px
}

.btn-switch {
    display: inline-block;
    width: 40px;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none
}

.form-horizontal .btn-switch-checkbox,.btn-switch-checkbox {
    display: none
}

.ie8 .form-horizontal .btn-switch-checkbox,.ie8 .btn-switch-checkbox {
    display: block;
    position: absolute;
    left: -999em
}

.btn-switch-label {
    margin: 0;
    overflow: hidden;
    border-radius: 20px
}

.btn-switch-inner {
    width: 200%;
    margin-left: -100%;
    -webkit-transition: margin .2s ease-in 0s;
    transition: margin .2s ease-in 0s
}

.btn-switch-inner:before,.btn-switch-inner:after {
    padding: 0;
    height: 20px;
    width: 50%;
    float: left;
    line-height: 20px;
    box-sizing: border-box
}

.btn-switch-inner:before {
    padding-left: 10px;
    content: "";
    background: #50b012
}

.btn-switch-inner:after {
    padding-right: 10px;
    content: "";
    background: #CCC
}

.btn-switch-dial {
    margin: -1px;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 3px;
    bottom: 0;
    right: 23px;
    background: #fff;
    border-radius: 20px;
    -webkit-transition: all .2s ease-in 0s;
    transition: all .2s ease-in 0s
}

.btn-switch-checkbox.checked+.btn-switch-label .btn-switch-inner {
    margin-left: 0
}

.btn-switch-checkbox.checked+.btn-switch-label .btn-switch-dial {
    right: 3px;
    background: #fff
}

.btn-switch-container+input,.btn-switch-container+.input-append {
    vertical-align: top;
    margin-left: 11px
}

/*  ======================
    Content Styling
    ======================  */

.oauth-header {
	padding-top: 7px;
	width: 100%;
	height: 44px;
	overflow: hidden;
	background: #1A1A1A;
}

.oauth-body {
	max-width: 400px;
	margin: 30px auto !important;
	border: 1px solid #ddd;
	border-radius: 10px;
    overflow: hidden;
}

.scroll-body {
    overflow-y: scroll;
    height: 100%;
}

.oauth-details {
    padding: 25px 30px 15px;
}

.oauth-footer {
    padding: 0 30px 15px;
}

.org-info {
	margin: 20px 0 30px;
	color: #888;
}

.vendorlogo img {
    max-width: 50%;
    max-height: 18vh;
    display: block;
    margin: auto
}

.auth-request {
    font-weight: normal;
}

.auth-buttons {
	margin: 30px 0;
}

.sso-login {
    margin-top: 30px;
}

.logged-in-user {
    text-align: center;
    margin-top: 20px;
}

.oauth-capabilities {
    margin-top: 20px;
}

@media (max-width:440px) {
    .oauth-body {
        border: none;
        border-radius: 0;
        margin-top: 0;
        max-width: 100%;
    }
    .oauth-details {
        padding: 15px;
    }
    .org-info {
	    margin-top: 0;
    }
}

.table {
    display: flex;
    flex-flow: column nowrap;
}

.row {
  display: flex;
}

.col {
  flex: 1;
  flex-basis: 100%;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}
.col.right-align {
  text-align: right;
  padding-right: 10px;
}

.col.left-align {
  text-align: left;
  padding-left: 10px;
}